html, body, div, span{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	font-family: Tahoma, Verdana, sans-serif;
}
*{
	transition: .5s linear;
}
section{
	width: 100%;
}
/*Header*/
#header{
	min-height: 500px;
	background-image: url(../img/bg01.jpg);
	color: lightgray;
	background-size: cover;
	opacity: 5;
}
.genesis{
	height: 100px;
	border-bottom: 1px solid #b2b3b1;
}
.logo{
	height: 30px;
	
}
.menu{
	height: 30px;
	
}
.menu ul li{
	display: inline-block;
	list-style-type: none;
	padding: 10px;
}
.icon{
	padding: 10px;
	color: #b2b3b1;
}
.lorem{
	border-top: 1px solid white;
}
.contactUs{
	padding: 10px;
	border: 1px solid #b2b3b1;
}
.case{
	height: 100px;
}
.case span{
	border: 1px solid white;
	background: white;
	color: black;
	font-size: 14px;
	position: absolute;
	top: 157px;
	left: 590px;
	padding: 5px;
}

.lorem h1{
	font-size: 50px;
	font-weight: 500;
    line-height: 2.1;
}
.btn button{
	background: none;
    color: white;
    border: 1px solid white;
    position: absolute;
    top: 350px;
    left: 590px;
}



/* /Header */
/*Who we are*/
#whoWeAre{
	min-height: 500px;
	margin-top: 50px;
}
.whoWeAre h3{
	color: black;
	padding: 20px;
}
.compImg{
	height: 100%;
	width: 100%;
}


.first{
	color: black;
	line-height: 20px;
}
.second{
	line-height: 16px;
}
.button1{
	color: black;
	background: white;
}
/* /Who we are*/ 
/*Services*/
#services{
	min-height: 500px;
}
.border{
	border: 1px solid rgba(0,0,0,0.2);
	margin: 10px;
	margin-left: 10px;
}
.border p{
	color: #7c7e83;
	line-height: 1.5;
    font-size: 14px;
}
/*Services*/
/*our work*/
#ourWork{
}

#ourWork img{
	width: 100%;

}
.mockups .row .col-md-6 ,.mockups .row .col-md-12{
	padding-right: 5px;
    padding-left: 5px;
    padding-top: 10px;
}
.hoverImg{
	overflow: hidden;
	position: relative;
}
.workImg .col-md-6{

}

.rightWork{
	border: 1px solid black;
	margin-top: 20px;
	padding: 5%;
}
.ourworkCard{
	padding: 50px 20px 20px 40px; 
}
#ourWork .rightWork img{
	width: 75px;
	height: 75px;
	border-radius: 100%;
}
.workButton{
	padding: 10px;
	background: none;
	border: 1px solid black;
	margin-top: 30px;
	border-radius: 3px;
}
.workButton:hover{
	background: black;
	color: white;
}

/*clients and customeryAy*/

#clients{
	min-height: 300px;
	background: #F4F5F5;
}
#customersSay{
	min-height: 300px;
	background: #F4F5F5;
}
.box-wrap {
	height:100px;border:1px solid #DCDDDD;background: ##F4F5F5;z-index: 5;padding: 30px;
}
.box-wrap span {
	float: left;
}
.box-wrap p {
	font-size: 12px;
	font-weight: bold;
	color:#7A7B7B;
}
.customer-wrap {
	margin-top: 10px;
	height: 100px;
}
.customer-img-wrap {
	height: 50px;
	width: 50px;
	border-radius: 50%;
}
.profile-pic-wrap-1 {
	background-image: url("../img/person1.jpg");
	background-size: contain;
}
.profile-pic-wrap-2 {
	background-image: url("../img/person2.jpg");
	background-size: contain;
}
.profile-pic-wrap-3 {
	background-image: url("../img/person3.jpg");
	background-size: contain;
}
/*STUDY*/
#study{
	min-height: 200px;
}
/* /STUDY*/

/*people_team*/
#people_team{
	min-height: 400px;
	padding: 20px;
}
#people_team img{
	width: 100%;
}
.hoverImg{
	margin: 5px;
}
.word{
	color: white;
	position: absolute;
	height: 100%;
	width: 100%;
	text-align: center;
	visibility: hidden;
	top: 0px;
}
.word h3{
	margin-top: 40%;
}
.word a ,.word p{
	color: white;
	padding: 5px;
}
.passionate{
	padding: 20px;
}
.passionate h5, .passionate p{
	line-height: 2;
}
/* /people_team*/

/*Blog*/
#blog{
	min-height: 900px;
	background: #f4f5f5;
}
.height{
	height: 100px;
}
#insquare{
	color: rgba(0,0,0,0.2);
}
.hello{
	
}
.kletka {
	margin-top: 50px;
	margin-left: 80px;
	padding: 10px;
	width: 90px;
	height: 120px;
	border: 1px solid rgba(0,0,0,0.2);
	color: gray;
	float: left;
}
.kletka2{
	height: 190px;
	width: 700px;
	padding: 40px;
	float: right;
}
.img{
	width: 262px;
	height: 213px;
	position: absolute;
	top: 0;
	left: 0;
}
#span{
	border: 1px solid black;
	background: black;
	color: white;
}
.card{
	border: 1px solid rgba(0,0,0,0.2);
	padding: 10px;
	position: relative;
}
.card-block{
	position: absolute;
	top: 250px;
	left: 0;
}
#butt{
	position: absolute;
    top: 500px;
}
#blog button{
	background: none;
	margin-top: 30px;
}
/* /Blog*/
#map{
	min-height: 400px;
	background: blue;
}


/*contacts*/
#contacts{
	min-height: 400px;
	background: #1f2229;
	color: white;
}
#contacts h1{
	font-size: 55px;
	font-weight: bold;
}
.form-control{
	margin: 10px;
	background: #1f2229;
	padding: 10px;
}
.btn-block{
	background: #1f2229;
	border-color: rgba(255,255,255,0.2);
	color: white;
	padding: 10px;
}
.btn-block span{
	margin: 5px;
}
.ft{
	height: 350px;
	border-bottom: 1px solid rgba(255,255,255,0.2);
}
.square{
	border: 1px solid rgba(255,255,255,0.2);
	padding: 10px;
}
.secondFoter{
	height: 250px;
	padding: 30px;
}
